<div class="footer-fylo py-5 d-flex justify-content-center align-items-center">
  <div class="container ">
    <img src="../../../assets/images/logo.svg" alt="logo" class="">
    <div class="content d-flex justify-content-between flex-column flex-lg-row mt-4">
      <ul>
        <li><img src="../../../assets/images/icon-phone.svg" alt="icon-phone" class="me-2"> Phone: +1-543-123-4567</li>
        <li><img src="../../../assets/images/icon-email.svg" alt="icon-phone" class="me-2">example@fylo.com</li>
      </ul>
      <ul>
        <li>About Us</li>
        <li>Jobs</li>
        <li>Press</li>
        <li>Blog</li>
      </ul>
      <ul>
        <li>Contact Us</li>
        <li>Terms</li>
        <li>Privacy</li>
      </ul>
      <div class="social text-center text-lg-start">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>


      </div>











    </div>
  </div>
</div>