<div class="landing container pt-5 d-flex justify-content-center align-items-center">
  <div class="row  d-flex justify-content-center align-items-center gap-3 flex-wrap flex-lg-nowrap ">
    <div class="info order-lg-1 order-2 text-lg-start text-center col-12 col-lg-6">
      <h1 class="fw-bold lh-base">All your files in one secure location, accessible anywhere.</h1>
      <p>Fylo stores your most important files in one secure location.
        Access them wherever you need, share and collaborate with friends,
        family, and co-workers.</p>

      <form>

        <div class="mb-3 d-flex gap-2 flex-wrap flex-lg-nowrap ">
          <div class="mb-3 col-12 col-lg-8">
            <input type="email" class="form-control text-center text-lg-start ps-4 py-3" id="email"
              placeholder="Enter your email..." required ngModel name="email" #email="ngModel"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              [ngClass]="{'dirt' : email.invalid && (email.dirty || email.touched)}">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="wrong ms-lg-4 text-lg-start">
              Please check your email
            </div>
          </div>
          <div class="mb-3 col-12 col-lg-4">
            <button type="submit" class="btn btn-primary  py-3  ">Get Started</button>
          </div>
        </div>


      </form>
    </div>
    <div class="image order-lg-2 order-1 col-12 col-lg-6"><img src="../../../assets/images/illustration-1.svg"
        alt="illustration-1">
    </div>

  </div>
</div>