.landing {
  min-height: calc(100vh - 72px);
}

.landing .info form button {
  width: 100%;
  background-color: var(--Bright-Blue);
}

.landing .info form button:hover {
  opacity: 80%;
}

.form-control {
  border-color: var(--Very-Dark-Blue);
}

.form-control::placeholder {
  color: var(--Light-Gray);
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none !important;
}

.dirt {
  border-color: var(--Light-Red);
}



.wrong {
  color: var(--Light-Red);
  font-size: 12px;
  margin-top: 5px;
}

/*
.landing .info {
  flex-basis: 50%;
}

.landing .image {
  flex-basis: 50%;
}
*/
.landing .image img {
  max-width: 100%;
}

/*
@media (max-width : 768px) {

  .landing .info,
  .landing .image,
  .landing .info form .mail,
  .landing .info form .notify {
    flex-basis: 100%;
  }
}*/